<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Shop It is a place where you can find close stores to your location">
    <meta name="author" content="Yassine Ennaour">

    <title>Shop IT - DashBoard</title>
    <!-- link for jquery style -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="assets/js/geodatasource-cr.min.js"></script>
    <link rel="stylesheet" href="assets/css/geodatasource-countryflag.css">

    <!-- link to languages po files -->
    <link rel="gettext" type="application/x-po" href="languages/en/LC_MESSAGES/en.po" />
    <script type="text/javascript" src="assets/js/Gettext.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this website -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this website -->
    <link href="../static/css/grayscale.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Shop IT - Dashboard</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/about">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Contact">Contact</a>
                    </li>
                    {% if not g.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/register">Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Logout">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-sign">
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert">
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    <section id="dashboard" class="dashboard-section">
        <form method="POST" action="{{url_for('Search')}}">
            <div>
                <a href="/deleteAll">Delete all saved places</a>
                {% if Place %}
                <div class="tg-wrap">
                    {% for place in Place %}
                    <table id="tg-3099d" class="tg" align="center">
                        <tr bgcolor="#606060">
                            <th class="tg-s268">Place Name: {{place.name}}</th>
                        </tr>
                        <tr bgcolor="#606060">
                            <td class="tg-0lax"><img src="{{place.photo}}" /></td>
                        </tr>
                        <tr bgcolor="#606060">
                            <td class="tg-0lax">Business Type: {{place.type}}</td>
                        </tr>
                        <tr bgcolor="#606060">
                            <td class="tg-0lax">Location: {{place.location}}</td>
                        </tr>
                        <tr bgcolor="#606060">
                            <td class="tg-0lax" style="text-align: center"><a href="/dislike?id={{place.id}}&name={{place.name}}&location={{place.location}}&photo={{place.photo}}&type={{place.type}}">Dislike</a></td>
                        </tr>
                    </table>
                    {% endfor %}
                {% else %}
                    <a style="color:white"> no places saved</a>
                </div>
                {% endif %}
            </div>
        </form>
    </section>
</body>
</html>