body {
    font-family: Arial, Helvetica, sans-serif;
    /*color: grey;*/
    background-color: #161616;
}
section[class="search-section"]{
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 1000px;
    height: auto
    !important;
}
div[class="container-signup"] {
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
    color:rgba(255,255,255,.5) !important;
}
section[class="dashboard-section"]{
    margin-top: 200px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 500 px;
    height: auto
    !important;
}
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    text-align: center;
}
table {
    border-spacing: 5px;
}
div[class="forgot-pass"]{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
}
label[id="remember-input"]{
    color: whitesmoke;
    margin: 0 auto;
}
button#sign-btn {
    color: white;
    position: center;
    background-color: lightgray;
}
div[class="container-sign"] {
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
    color:rgba(255,255,255,.5) !important;
}
input[id="sign-name"], input[id="sign-pass"], input[id="sign-email"] {
    width: 100%;
    position: page;
}
/* Full-width input fields */
input[type=text]:not([id="sign-name"]), input[type=password]:not([id="sign-pass"]) {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
section[class="about-ctn"]{
    margin-top: 200px;
}
.contact-section {
    margin-top: 150px;
    padding: 5rem 0 0
}
button#login-btn{
    color: white;
    background-color: gray;
}
/* Set a style for all buttons */
button {
    margin-top: 17px;
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    /*margin: 8px 0;*/
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.6;
}

    button:hover {
        opacity: 0.8;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-flex;
    margin: 0px auto;
    color: black;
}

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-s268 {
        text-align: left
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top;
        max-width: 200px;
        word-wrap: break-word;
    }

.tg-sort-header::-moz-selection {
    background: 0 0
}

.tg-sort-header::selection {
    background: 0 0
}

.tg-sort-header {
    cursor: pointer
}

    .tg-sort-header:after {
        content: '';
        float: right;
        margin-top: 7px;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color: #404040 transparent;
        visibility: hidden
    }

    .tg-sort-header:hover:after {
        visibility: visible
    }

.tg-sort-asc:after, .tg-sort-asc:hover:after, .tg-sort-desc:after {
    visibility: visible;
    opacity: .4
}

.tg-sort-desc:after {
    border-bottom: none;
    border-width: 5px 5px 0
}
@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }

        .tg col {
            width: auto !important;
        }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}